<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/ros2_control/ros2_control_macro.xacro" />

  <xacro:macro name="robot_ros2_control"
    params="use_fake_hardware:=^|true
            fake_sensor_commands:=^|true
            left_can_interface:=^|can0
            right_can_interface:=^|can1
            body_can_interface:=^|can2
            can_fd:=^|true">

    <!-- Left Arm Hardware Interface -->
    <ros2_control name="robot_left_arm_hardware_interface" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <!-- Modify it here to implement your own hardware interface -->
          <plugin>robot_hardware/robot_HW</plugin>
          <param name="can_interface">${left_can_interface}</param>
          <param name="can_fd">${can_fd}</param>
        </xacro:unless>
      </hardware>

      <!-- arm -->
      <xacro:configure_joint joint_name="arm_left_joint1" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_left_joint2" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_left_joint3" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_left_joint4" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_left_joint5" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_left_joint6" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_left_joint7" initial_position="0.0" />

      <!-- hand -->
      <xacro:configure_joint joint_name="hand_left_right_finger_joint" initial_position="0.0" />

    </ros2_control>

    <!-- Right Arm Hardware Interface -->
    <ros2_control name="robot_right_arm_hardware_interface" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <!-- Modify it here to implement your own hardware interface -->
          <plugin>robot_hardware/robot_HW</plugin>
          <param name="can_interface">${right_can_interface}</param>
          <param name="can_fd">${can_fd}</param>
        </xacro:unless>
      </hardware>

      <!-- arm -->
      <xacro:configure_joint joint_name="arm_right_joint1" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_right_joint2" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_right_joint3" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_right_joint4" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_right_joint5" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_right_joint6" initial_position="0.0" />
      <xacro:configure_joint joint_name="arm_right_joint7" initial_position="0.0" />

      <!-- hand -->
      <xacro:configure_joint joint_name="hand_right_right_finger_joint" initial_position="0.0" />

    </ros2_control>

    <!-- Body Hardware Interface -->
    <ros2_control name="robot_body_hardware_interface" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <!-- Modify it here to implement your own hardware interface -->
          <plugin>robot_hardware/robot_HW</plugin>
          <param name="can_interface">${body_can_interface}</param>
          <param name="can_fd">${can_fd}</param>
        </xacro:unless>
      </hardware>

      <!-- body -->
      <xacro:configure_joint joint_name="body_joint1" initial_position="0.0" />

      <!-- differential -->
      <xacro:configure_joint joint_name="body_left_wheel_joint" initial_position="0.0" />
      <xacro:configure_joint joint_name="body_right_wheel_joint" initial_position="0.0" />

    </ros2_control>

  </xacro:macro>

</robot>